.header {
  background-color: #2C0E22;
  color: #ffffff;
  height: 86px;
  width: 100%;
  font-family: 'Londrina Solid', cursive;
  font-size: 48px;
}

.search {
  background-color: #CBD3D3;
  height: 62px;
}


footer {
  height: 144px;
  width: 100%;
  background-color: #CBD3D3;
  color: #000000;
  font-family: 'Londrina Solid', cursive;
}

div.organic-box{

width: 551px;
height: 256px;
background: #CBD3D3;
}