/* === Base === */
body {
  height: 100%;
}

main {
 height: 100%;
}

.header {
  background-color: #2C0E22;
  color: #ffffff;
  height: 86px;
  width: 100%;
  font-family: 'Londrina Solid', cursive;
}
/* Home page styles */
.top-image{
  width: auto ;
  max-width: 100% ;
  height: auto ;
}
h3.text-center{
  font-family: Londrina Solid;
  font-style: normal;
margin-top: 10px;
margin-bottom:10px;
}

.organic-box{

margin-top: 60px;
margin-bottom: 50px;
background: #CBD3D3;
width: 85%;
height: 400px;
left: 45px;
top: 947px;
text-align: center;
padding-left: 83px;
padding-right: 82px;
padding-top: 141px;
padding-bottom: 134px;
}

.organic_text > *{
padding-top: 35px;
padding-bottom: 20px;
font-family: Londrina Solid;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 57px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
color: #000000;
}
div.subscriber-box{
  background-color: #2C0E22;
  color: #ffffff;
  }
.subscriber-text{
  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;

  color: #FFFFFF;
  padding-bottom: 121px;
  padding-left: 54px;
  padding-right: 53px;
}
.newsletter-form{
margin-top: 20px;
margin-bottom: 20px;
display: flex;
flex-direction: row;
justify-content: center;

}
.sign-up-btn{
background: #EEDAD7;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 6px;
text-align: center;
margin-top: 15px;
margin-bottom: 10px;
align-items: center;
}
.submit-btn{
display: flex;
justify-content: center;
}
.bottom-image{
display: flex;
justify-content: center;
width: auto ;
  max-width: 100% ;
  height: auto ;
}

/* === nav === */
button.nav-icon {
  color: #ffffff;
}

.navbar {
  background-color: #2C0E22;
}

.navbar-dark.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

h2 {
  text-decoration: none;
  color: #ffffff;
}


div.mobile{
  display: none;
}

.navbar-nav {
  font-family: 'Hind Siliguri', sans-serif;
}

div.links {
  background-color: #ffffff;
}

span.icon {
  color: #ffffff;
}


/* === footer === */
footer {
  height: 144px;
  width: 100%;
  background-color: #CBD3D3;
  color: #000000;
  font-family: 'Londrina Solid', cursive;
}

/* === Admin === */
.left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  height: 62px;
  background: #CBD3D3;
}

.main-row {
  background-color: #DFC7C4;
  font-family: 'Londrina Solid', cursive;
}

.right {
  padding: 0;
  border-bottom: 1px solid black;
}

.subscriber {
  background-color: #DFC7C4;
  height: 62px;
  font-family: 'Londrina Solid', cursive;
  font-size: 32px;
}

.row {
  border-bottom: 1px solid black;
}

.search-container {
  background-color: #CBD3D3;
}

@media only screen and (max-width: 500px){
/* === Base === */
body {
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C0E22;
  color: #ffffff;
  height: 86px;
  width: 100%;
  font-family: 'Londrina Solid', cursive;
}

div.desktop {
  display: none;
}

div.mobile {
  display: block;
}

.search {
  background-color: #CBD3D3;
  height: 62px;
}

footer {

  bottom: 0;
  height: 144px;
  width: 100%;
  background-color: #CBD3D3;
  color: #000000;
  font-family: 'Londrina Solid', cursive;
}



/* === Admin === */
.left {
  background-color: #EEDAD7; /* Black */ /* Disable horizontal scroll */
  height: 315px;
  border-bottom: 1px solid black;
}

.right {
  padding: 0;
  border-bottom: 1px solid black;
}

.subscriber {
  background-color: #DFC7C4;
  height: 62px;
  font-family: 'Londrina Solid', cursive;
  font-size: 32px;
}
div.organic-box{
  overflow: hidden;
  width:100%;
}
/* Home */
div.newsletter-form{
display: flex;
flex-direction: column;
max-width: 100%;
justify-content: center;
align-items: center;
}


}

@media only screen and (max-width: 320px){
  path {
    visibility: hidden;
  }
}
