{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Grape Escape</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">
  <!-- Minified Jquery -->
   <script src="{% static 'vendors/jquery.min.js' %}"></script>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="{% static 'vendors/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css' %}">
  <script src="{% static 'vendors/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap.min.js' %}"></script>
  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark justify-content-between">
      <!-- logo & name -->
      <a href="/" class="navbar-brand">
        <h2 class="site">The Grape Escape</h2>
      </a>
      <!-- nav button for smaller screen -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon border-none"> 

      </span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop Wine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

</header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
<footer class="d-flex flex-column justify-content-center align-items-center">
    <p class=" text-center ">1 California Dr, Yountville, CA 94599 <br> 888) 242-6366 | open daily 11 am to 6 pm</p>
    <h6>© 2020 The Grape Escape</h6>

</footer>
</html>